MktCallCore/ejbModule/br/com/supportcomm/mktcall/xml/status/advertisement/Advertisement.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string" minOccurs="0" />
                <xs:element name="body" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="description" type="xs:string" minOccurs="0" />
                            <xs:element name="statusMSISDN" type="xs:string" minOccurs="0" />
                            <xs:element name="campaignID" type="xs:int" minOccurs="0" />
                            <xs:element name="advertisementType" type="xs:int" minOccurs="0" />
                            <xs:element name="message" type="xs:string" minOccurs="0" />
                            <xs:element name="serverURL" type="xs:string" minOccurs="0" />
                            <xs:element name="confirmationDigit" type="xs:int" minOccurs="0" />
                            <xs:element name="callDuration" type="xs:string" minOccurs="0" />
                            <xs:element name="allowOnNet" type="xs:boolean" minOccurs="0" />
                            <xs:element name="allowOffNet" type="xs:boolean" minOccurs="0" />
                            <xs:element name="allowLandlineOnNet" type="xs:boolean" minOccurs="0" />
                            <xs:element name="allowLandlineOffNet" type="xs:boolean" minOccurs="0" />
                            <xs:element name="nextCampaign" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                            <xs:element name="newUser" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                            <xs:element name="playWelcome" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                            <xs:element name="forward" minOccurs="0" maxOccurs="1" >
                             <xs:complexType>
	                             <xs:sequence>
	                                 <xs:element name="forwardEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1" />
	                                 <xs:element name="cfu"           type="xs:string"  minOccurs="0" maxOccurs="1" />
	                                 <xs:element name="audioPosition" type="xs:string"  minOccurs="0" maxOccurs="1" />
	                                 <xs:element name="audioFilename" type="xs:string"  minOccurs="0" maxOccurs="1" />
	                             </xs:sequence>
                             </xs:complexType>
                            </xs:element>
                            <xs:element name="audios" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="audio" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
                                                    <xs:element name="fileName" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                    <xs:element name="order" type="xs:int" minOccurs="0" maxOccurs="1" />
                                                    <xs:element name="lengthDigit" type="xs:int" minOccurs="0" maxOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
